@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	margin:0;
	padding:0;
	width: 1400px;
	font-family: 'Raleway', 'sans-serif';
}

.hcontainer{
	width: 1110px;
	height: 70px;
	margin: auto;

}
a{
	text-decoration: none;
	color: inherit;
	margin: 0 0 0 0;
	padding: 0 0 0 0 ;
}

header{
	height: 70px;
	background-color: #fbfaff;
	color: #464662;
	font-size: 10pt;
}


#head_mail{
	margin-top: 12px;
}


#head_mail{
	float: right;
//	margin-right: 150px;
}

header ul{
	float: right;
	margin: 0 20px 0 0;
	height: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	}

header li{
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 27px;
	padding-bottom:27px;
	}

header li:hover{
	background-color: grey;
}

#p1_s2{
	background-image: url("images/img-1.jpg");
	background-size: cover;
	height: 700px;
  	position: relative;
}

/*
#p1_s2:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(10,29,55, 0.8);
}
*/

.content{
	width: 1110px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
//	height: 100% - 100px;
//	margin-top: auto;
//	margin-bottom: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#page1_content{
	text-align: center;
//	margin-top:220px;
	width: 80%;


}

.heading{
	font-size: 46pt;
}

.subheading{
	font-size: 40pt;
}
.white{
	color: white;
}

.purple{
	color: #464662;
}

.pwidth{
	width: 400px;
}

#para{
	margin-left: auto;
	margin-right: auto;
}

.round_button{
	width: 150px;
	display: inline-block;
	background-color: transparent;
	border: solid white 2px;
	border-radius: 20px;
	padding: 10px;
//	margin-top: 10px;
	margin-left: 10px;
	font-size: 10pt;
	font-weight: bold;

}
.round_button:hover{
	background-color: #d0ab02;
	border: solid #d0ab02 2px;
}

#scroll_arrow{
	position: absolute;
	bottom: 30px;
}

#p2{
	height: 600px;
}
#block1{
	position: absolute;
	width: 40%;	
	left:0px;
	height: 370px
}
#block1 ul{
	font-weight: bold;
}
#block2{
	position: absolute;
	width: 555px;
	height: 370px;
	right: 0px;
}

ul{
	list-style-type: none;
	padding-left:0;
}

#block1 li{
	padding: 15px 15px 15px 0;
		
}
object{
	float: left;
	margin: -8px 15px 0px 0px;
}

#p3{
	height: 650px;
	background-image: url("images/img-2.jpg");
//	background-color: blue;
	background-size: cover;
	text-align: center;
	
}

#p3_3sections{
	
	width:100%;
	height: 300px;

}
.p3_section{
	width: 30%;
	height: 100%;
	display: inline-block;
}
.circle{
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: solid blue 3px;
  margin-left:auto;
  margin-right:auto;
}
#p3_content{
	flex-direction: column;
}
#p3_content .subheading{
	width: 65%;
	margin-bottom: 50px;
}

#p3 object{
	margin-top: 20px;
	margin-left: 20px;
}
